body{
    display: flex;
    justify-items: start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;

}
img{
    object-fit: scale-down;
    width: 50vh;
    height: 50vh;
}
